/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Ignore any .idea project files
/.idea
.idea/workspace.xml
*.iml

# Ignore temporary example files
index.rb
index.aspx
